In [2]:
# # 1. Write a python program to implement List-to-Series Conversion.

import pandas as pd
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# 2. Write a python program to Generate the series of dates from 1st May, 2021 to 12th May, 2021 (both inclusive).

date_range = pd.date_range(start='2021-05-01', end='2021-05-12')
print(date_range)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# 3. Given a dictionary, convert it into corresponding dataframe and display

data = {'Name': ['Rijfas', 'Rifana', 'Aflah'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0  Rijfas   25
1  Rifana   30
2   Aflah   35

In [16]:
# 4. Given a 2D List, convert it into corresponding dataframe and display it.
data = [['Rijfas', 25], ['Rifana', 30], ['Aflah', 35]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

     Name  Age
0  Rijfas   25
1  Rifana   30
2   Aflah   35

In [17]:
# 5. Given a CSV file, read it into a dataframe and display it.
# Program 5:
df = pd.read_csv('result.csv')
print(df)

     name  mark result
0     Ann    30   pass
1   Joyal    10   fail
2  Anitta    35   pass
3  Naijil     9   fail
4   Nennu    14   fail
5  Chinnu    28   pass

In [8]:
# 6. Given a dataframe, sort it by multiple columns.

data = {'Name': ['Rijfas', 'Rifana', 'Aflah'],
        'Age': [25, 30, 35], 
        'Score': [100, 99, 98]}
df = pd.DataFrame(data)
df = df.sort_values(by=['Age'])
print(df)

     Name  Age  Score
0  Rijfas   25    100
1  Rifana   30     99
2   Aflah   35     98

In [4]:
# 7. Given a dataframe with custom indexing, convert and it to default indexing and display it.
import pandas as pd
data = {'Name': ['Rijfas', 'Rifana', 'Aflah'],
        'Age': [25, 30, 35], 
        'Score': [100, 99, 98]}
df = pd.DataFrame(data)
print(df)
df = pd.DataFrame(data, index=['A', 'B', 'C'])
print(df)
df.reset_index(drop=True, inplace=True)
print(df)

     Name  Age  Score
0  Rijfas   25    100
1  Rifana   30     99
2   Aflah   35     98
     Name  Age  Score
A  Rijfas   25    100
B  Rifana   30     99
C   Aflah   35     98
     Name  Age  Score
0  Rijfas   25    100
1  Rifana   30     99
2   Aflah   35     98

In [10]:
# 8. Given a dataframe, select first 2 rows and output them.

data = {'Name': ['Rijfas', 'Rifana', 'Aflah'],
'Age': [25, 30, 35], 'Score': [100, 99, 98]}
df = pd.DataFrame(data)
print(df.head(2))

     Name  Age  Score
0  Rijfas   25    100
1  Rifana   30     99

In [13]:
# 9. Given is a dataframe showing name, occupation, salary of people. Find the average salary per occupation.
data = {'Name': ['Rijfas', 'Rifana', 'Aflah', 'Suhail', 'Shammas'],
        'Occupation': ['Engineer', 'Doctor', 'Doctor', 'Lawyer', 'Engineer'],
        'Salary': [60000, 80000, 50000, 75000, 40000]}
df = pd.DataFrame(data)
average_salary_per_occupation = df.groupby('Occupation')['Salary'].mean()
print(average_salary_per_occupation)

Occupation
Doctor      65000.0
Engineer    50000.0
Lawyer      75000.0
Name: Salary, dtype: float64

In [15]:
# 10. Given a dataframe with NaN Values, fill the NaN values with 0.
import numpy as np
data = {'Name': ['Rijfas', 'Rifana', 'Aflah'],
'Age': [25, 30, 35], 'Score': [100, 99, np.nan]}
df = pd.DataFrame(data)
df.fillna(0, inplace=True)
print(df)

     Name  Age  Score
0  Rijfas   25  100.0
1  Rifana   30   99.0
2   Aflah   35    0.0

In [16]:
# 11. Given is a dataframe showing Company Names (cname) and corresponding Profits (profit). Convert the values of Profit column such that values in it greater than 0are set to True and the rest are set to False.
data = {'cname': ['Company A', 'Company B', 'Company C', 'Company D'],
'profit': [10000, -5000, 7500, 0]}
df = pd.DataFrame(data)
df['profit'] = df['profit'] > 0
print(df)

       cname  profit
0  Company A    True
1  Company B   False
2  Company C    True
3  Company D   False

In [9]:
# 12. Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee (designation). Output the Dataframe containing Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position (position).
employee_data = {
'eid': [101, 102, 103, 104, 105],
'ename': ['Rijfas', 'Rifana', 'Aflah', 'Suhail', 'Shammas'],
'stipend': [600, 700, 800, 900, 750]
}
designation_data = {
'eid': [101, 103, 104, 105],
'Designation': ['Engineer', 'Teacher', 'Lawyer', 'Artist']
}
employee_df = pd.DataFrame(employee_data)
designation_df = pd.DataFrame(designation_data)
result_df = employee_df.merge(designation_df, on='eid')
print(result_df)

   eid    ename  stipend Designation
0  101   Rijfas      600    Engineer
1  103    Aflah      800     Teacher
2  104   Suhail      900      Lawyer
3  105  Shammas      750      Artist